Package: com.imokhles.ChargingBoard
Name: ChargingBoard
Version: 1.0b-1
Description: New charging battery style in LS
Section: Tweaks
Depends: firmware (>= 10.1), mobilesubstrate
Priority: optional
Architecture: iphoneos-arm
Author: iMokhles

